{% extends "base.html" %}

{% block title %}
Customize Your Board...
{% endblock %}

{% block body %}
<h1>Customize Your Board</h1>

<form class="text-center" method="POST" action="/customize">
  <label>Board Name</label>
  <input type="text" name="board_name" required> <br> <br>
  <div class="form-row">
    <div class="col">
      <label>Category 1</label>
      <input type="text" name="c1" required> <br> <br>
      <label>100</label><br>
      <textarea rows="2" placeholder="statement" name="c1_a1" required></textarea>
      <textarea rows="2" placeholder="question" name="c1_q1" required></textarea> <br><br>
      <label>200</label><br>
      <textarea rows="2" placeholder="statement" name="c1_a2" required></textarea>
      <textarea rows="2" placeholder="question" name="c1_q2" required></textarea> <br><br>
      <label>300</label><br>
      <textarea rows="2" placeholder="statement" name="c1_a3" required></textarea>
      <textarea rows="2" placeholder="question" name="c1_q3" required></textarea> <br><br>
      <label>400</label><br>
      <textarea rows="2" placeholder="statement" name="c1_a4" required></textarea>
      <textarea rows="2" placeholder="question" name="c1_q4" required></textarea> <br><br>
      <label>500</label><br>
      <textarea rows="2" placeholder="statement" name="c1_a5" required></textarea>
      <textarea rows="2" placeholder="question" name="c1_q5" required></textarea> <br><br>
    </div>
    <div class="col">
      <label>Category 2</label>
      <input type="text" name="c2" required> <br> <br>
      <label>100</label><br>
      <textarea rows="2" placeholder="statement" name="c2_a1" required></textarea>
      <textarea rows="2" placeholder="question" name="c2_q1" required></textarea> <br><br>
      <label>200</label><br>
      <textarea rows="2" placeholder="statement" name="c2_a2" required></textarea>
      <textarea rows="2" placeholder="question" name="c2_q2" required></textarea> <br><br>
      <label>300</label><br>
      <textarea rows="2" placeholder="statement" name="c2_a3" required></textarea>
      <textarea rows="2" placeholder="question" name="c2_q3" required></textarea> <br><br>
      <label>400</label><br>
      <textarea rows="2" placeholder="statement" name="c2_a4" required></textarea>
      <textarea rows="2" placeholder="question" name="c2_q4" required></textarea> <br><br>
      <label>500</label><br>
      <textarea rows="2" placeholder="statement" name="c2_a5" required></textarea>
      <textarea rows="2" placeholder="question" name="c2_q5" required></textarea> <br><br>
    </div><div class="col">
      <label>Category 3</label>
      <input type="text" name="c3" required> <br> <br>
      <label>100</label><br>
      <textarea rows="2" placeholder="statement" name="c3_a1" required></textarea>
      <textarea rows="2" placeholder="question" name="c3_q1" required></textarea> <br><br>
      <label>200</label><br>
      <textarea rows="2" placeholder="statement" name="c3_a2" required></textarea>
      <textarea rows="2" placeholder="question" name="c3_q2" required></textarea> <br><br>
      <label>300</label><br>
      <textarea rows="2" placeholder="statement" name="c3_a3" required></textarea>
      <textarea rows="2" placeholder="question" name="c3_q3" required></textarea> <br><br>
      <label>400</label><br>
      <textarea rows="2" placeholder="statement" name="c3_a4" required></textarea>
      <textarea rows="2" placeholder="question" name="c3_q4" required></textarea> <br><br>
      <label>500</label><br>
      <textarea rows="2" placeholder="statement" name="c3_a5" required></textarea>
      <textarea rows="2" placeholder="question" name="c3_q5" required></textarea> <br><br>
    </div><div class="col">
      <label>Category 4</label>
      <input type="text" name="c4" required> <br> <br>
      <label>100</label><br>
      <textarea rows="2" placeholder="statement" name="c4_a1" required></textarea>
      <textarea rows="2" placeholder="question" name="c4_q1" required></textarea> <br><br>
      <label>200</label><br>
      <textarea rows="2" placeholder="statement" name="c4_a2" required></textarea>
      <textarea rows="2" placeholder="question" name="c4_q2" required></textarea> <br><br>
      <label>300</label><br>
      <textarea rows="2" placeholder="statement" name="c4_a3" required></textarea>
      <textarea rows="2" placeholder="question" name="c4_q3" required></textarea> <br><br>
      <label>400</label><br>
      <textarea rows="2" placeholder="statement" name="c4_a4" required></textarea>
      <textarea rows="2" placeholder="question" name="c4_q4" required></textarea> <br><br>
      <label>500</label><br>
      <textarea rows="2" placeholder="statement" name="c4_a5" required></textarea>
      <textarea rows="2" placeholder="question" name="c4_q5" required></textarea> <br><br>
    </div><div class="col">
      <label>Category 5</label>
      <input type="text" name="c5" required> <br> <br>
      <label>100</label><br>
      <textarea rows="2" placeholder="statement" name="c5_a1" required></textarea>
      <textarea rows="2" placeholder="question" name="c5_q1" required></textarea> <br><br>
      <label>200</label><br>
      <textarea rows="2" placeholder="statement" name="c5_a2" required></textarea>
      <textarea rows="2" placeholder="question" name="c5_q2" required></textarea> <br><br>
      <label>300</label><br>
      <textarea rows="2" placeholder="statement" name="c5_a3" required></textarea>
      <textarea rows="2" placeholder="question" name="c5_q3" required></textarea> <br><br>
      <label>400</label><br>
      <textarea rows="2" placeholder="statement" name="c5_a4" required></textarea>
      <textarea rows="2" placeholder="question" name="c5_q4" required></textarea> <br><br>
      <label>500</label><br>
      <textarea rows="2" placeholder="statement" name="c5_a5" required></textarea>
      <textarea rows="2" placeholder="question" name="c5_q5" required></textarea> <br><br>
    </div>
  </div>
  <input type="submit">
</form>
{% endblock %}
