{% extends "base.html" %}

{% block title %}
Playing: {{board_name}}
{% endblock %}

{% block body %}
<input type="hidden" name="game_id" value="{{game_id}}">
<div class="text-center">
  <h1>Board: {{board_name}}</h1>
  <div class="row">
    {% for i in range(5) %}
      <div class="col">
        {{data[i * 11]}}
        <br>
        <br>
        {% for j in range(1,6) %}
          <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#{{data[i * 11]}}{{j*100}}">
            {{j * 100}}
          </button>
          <br>
          <br>
          <div class="modal fade" id="{{data[i * 11]}}{{j*100}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  {% if data[i * 11] in ['pokemon', 'rick_morty', 'countries'] %}
                    <img src="{{data[i * 11 + (j - 1) * 2 + 1]}}" height="200px" width="auto">
                  {% else %}
                    {{data[i * 11 + (j - 1) * 2 + 1]}}
                  {% endif %}
                  <hr>
                  <a data-toggle="collapse" href="#answer" role="button" aria-expanded="false" aria-controls="answer">
                      Reveal answer
                  </a>
                  <div class="collapse" id="answer">
                    <div class="card card-body">
                      {{data[i * 11 + j * 2]}}
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" onclick="collapse()" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>
<br><br>
<div class="container">
  <center><h1>Scoreboard</h1></center>
  <table class="table table-bordered">
    <thead>
      <tr>
	<th scope="col">Team Name</th>
	<th scope="col">Score</th>
      </tr>
    </thead>
    {% for team in teams %}
    <tbody>
      <tr>
	<th scope="row">{{ team }}</th>
	<td id="row">
	  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;                   	  
	  <form>
	    Score
	    <input type="number" step="100" value="0" min="0" max="2500">
	  </form>
	</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>
{% endblock %}
