{% extends "base.html" %}

{% block title %}
Playing: {{board_name}}
{% endblock %}

{% block body %}
<input type="hidden" name="game_id" value="{{game_id}}">
{% if not finished %}
<div class="text-center">
  <h1>Board: {{board_name}}</h1>
  <h1>Playing: {{turn}}</h1>
  <div class="row">
    {% for i in range(5) %}
      <div class="col">
        {{data[i * 11]}}
        <br>
        <br>
        {% for j in range(1,6) %}
          {% if board_status[i * 5 + j - 1] == 1 %}
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#q{{i}}{{j}}">
          {% else %}
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#q{{i}}{{j}}" disabled>
          {% endif %}
            {{j * 100}}
          </button>
          <br>
          <br>
          <div class="modal fade" id="q{{i}}{{j}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body">
                    <img src="{{data[i * 11 + (j - 1) * 2 + 1]}}" height="200px" width="auto" alt="{{data[i * 11 + (j - 1) * 2 + 1]}}">
                  <hr>
                  <a data-toggle="collapse" href="#answer{{i}}{{j}}" role="button" aria-expanded="false" aria-controls="answer">
                      Reveal answer
                  </a>
                  <div class="collapse" id="answer{{i}}{{j}}">
                    <div class="card card-body">
                      {{data[i * 11 + j * 2]}}
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <form method="GET" action="/play">
                    <input type="hidden" name="game_id" value="{{game_id}}">
                    <input type="hidden" name="points" value="{{j * 100}}">
                    <input type="hidden" name="q_id" value="{{i * 5 + j}}">
                    <button type="submit" name="submit" class="btn btn-secondary">Add Points</button>
                  </form>
                  <form method="GET" action="/play">
                    <input type="hidden" name="game_id" value="{{game_id}}">
                    <input type="hidden" name="points" value="{{j * -100}}">
                    <input type="hidden" name="q_id" value="{{i * 5 + j}}">
                    <button type="submit" name="submit" class="btn btn-secondary">Remove Points</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>
{% endif %}
<br><br>
<div class="container">
  <center><h1>Scoreboard</h1></center>
  <table class="table table-bordered">
    <thead>
      <tr>
      	<th scope="col">Team Name</th>
      	<th scope="col">Score</th>
      </tr>
    </thead>
    {% for i in range(teams|length) %}
      <tbody>
        <tr>
	         <th scope="row">{{ teams[i] }}</th>
	          &nbsp;
	           <td>
	              {{ score[i] }}
	           </td>
        </tr>
      </tbody>
    {% endfor %}
  </table>
</div>
{% endblock %}
