{% extends "base.html" %}

{% block title %}
Homepage
{% endblock %}

{% block body %}
<br><br>
<div class="container-fluid text-center" >
  <h1>Welcome {{ user }} to JEOPARDY!</h1>
  <br>
  <h6>Games History</h6>
  <ul>
    {% for item in games %}
    <form method="GET" action="/play">
      <button class="btn btn-outline-success" type="submit" name="game_id" value={{games[item]}}>{{ item }}</button>
    </form>
    <br>
    {% endfor %}
  </ul>
  <br>
  <br>
  <h6>Your Boards</h6>
  <ul>
    {% for item in boards %}
    <form method="GET" action="/play">
      <button class="btn btn-outline-success" type="submit" name="board_id" value={{boards[item]}}>{{ item }}</button>
    </form>
    <br>
    {% endfor %}
  </ul>
</div>
{% endblock %}
