{% extends "base.html" %}

{% block title %}
Register
{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
<div class="container py-3 my-3 border rounded" id="font">
  <center><h1>Register</h1><br></center>
  <form method="GET" action="/register">
    <label>Choose your username</label>
    <input class="form-control" type="text" name="username" placeholder="enter username here"> <br> <br>
    <label>Choose your password</label>
    <input class="form-control" type="text" name="password" placeholder="enter password here"><br> <br>
    <button type="submit" name = "submit" class="btn btn-success btn-block">Register Your Account</button>
    
  </form>
  <br><br>
  <form action = "/login">
    <button type="submit" class="btn btn-info btn-block">Return To Login</button>
  </form>
</div>

{% endblock %}
